<!DOCTYPE html>
<html lang="en">
<head>
<!--
	Flowerbox
	Copyright (C) 2010-2017 Kayateia
	For license info, please see notes/gpl-3.0.txt under the project root.

	CliMOO - Multi-User Dungeon, Object Oriented for the web
	Copyright (C) 2010-2014 Kayateia
-->

	<!-- <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<title>FlowerBox</title>

	<!-- Bootstrap -->
	<!-- <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->

	<!-- Polymer -->
	<script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
	<link rel="import" href="/bower_components/polymer/polymer.html">
	<link rel="import" href="/bower_components/polymer-ts/polymer-ts.html">

	<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/js-cookie/src/js.cookie.js"></script>

	<script src="/scripts/fbapi.js"></script>
</head>
<body>
	<link rel="import" href="/html/app.html" />

	<style is="custom-style">
		html, body {
			margin: 0;
			font-family: 'Roboto', 'Noto', sans-serif;
			-webkit-font-smoothing: antialiased;
			background: #f1f1f1;
		}
	</style>

	<fb-app api="http://localhost:3001/"></fb-app>
</body>
</html>
